@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    /* overflow: hidden; */
    background-color: #EEEEEE;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: #EEEEEE;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
}

.loader {
    width: 60px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

h1,
h2 {
    font-family: 'Manrope', 'Inter', sans-serif;
}

p,
a {
    font-family: 'IBM Plex Sans', 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #1d1d1d;
    transition: .3s ease;
}

a:hover {
    color: rgb(77, 77, 77);
}

.about {
    width: 600px;
    text-align: center;
    padding-top: 80px;
    margin: auto;
}

.about>p {
    font-size: 17px;
    color: #1d1d1d;
}

.about>img {
    width: 200px;
}

header {
    position: fixed;
    top: 0;
    background-color: rgba(31, 31, 31, 0.616);
    backdrop-filter: blur(100px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.041);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.041);
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: auto;
    box-sizing: border-box;
}

header>nav {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 35px;
    font-size: 13px;
}

header>nav>a {
    color: #EEEEEE;
}

.head-logo-alt{
    display: none;
}

.head-logo {
    width: 14px;
    transition: 1s ease-in-out;
}

.head-logo:hover, .head-logo-alt:hover {
    content: url("images/icos/header-ico-color.png");
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.mobile-menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 50px;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    display: flex;
    z-index: 2;
    font-size: 25px;
    text-align: left;
    opacity: 0;
    transition: top 0.5s ease-in, opacity 0.3s ease-in;
}

body.no-scroll {
    overflow: hidden;
}

.mobile-menu>a {
    margin-bottom: 10px;
    text-decoration: none;
}

.mobile-menu.show {
    top: 0;
    opacity: 1;
}

.main {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.herovideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.55);
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.content>h1 {
    max-width: 1000px;
    color: white;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
    font-weight: bolder;
    font-size: 50px;
    line-height: 1.2em;
}

#headline {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
}

#headline.fade-out {
    opacity: 0;
    transform: translateY(10px);
    /* opcional: dá sensação de movimento */
}


.container {
    max-width: 100%;
    background-color: #EEEEEE;
    margin: auto;
}

button {
    cursor: pointer;
    border: none;
    background-color: #2e93e6;
    color: white;
    padding: 12px 15px;
    border-radius: 30px;
    transition: .3s ease;
    font-size: 13px;
}

button:hover {
    background-color: #236daa;
}

.alt-btn {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(20, 20, 20);
}

.alt-btn:hover {
    background-color: rgba(255, 255, 255, 0.836);
}

.nav-btn {
    display: flex;
    gap: 20px;
}

.services {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 8%;
    margin: 100px auto;
    color: #1d1d1d;
    max-width: 1100px;
}

.service-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    /* background-color: #e6e6e6; */
}

.service-content>h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.service-content>p {
    font-size: 15px;
}

.service-icon {
    width: 30px;
    height: 28px;
    stroke-width: 1.3;
    color: #2e93e6;
    margin: 0 auto 0 auto;
    background-color: #EEEEEE;
    border-radius: 50%;
    padding: 13px;
    transition: .3s ease;
}

.service-content:hover .service-icon {
    transform: scale(1.03);
    color: #236daa;
}

.products {
    z-index: 1;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    place-items: center;
    width: 90vw;
    margin: auto;
    gap: 30px;
}

.product-content {
    width: auto;
    height: 45vw;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 0 10% 10% 10%;
    color: white;
    text-align: center;
}

.product-content>h1 {
    font-size: 40px;
}

.product-content>p {
    margin: 10px 0 20px 0;
    font-size: 18px;
}

.portf {
    text-align: center;
    margin-top: 100px;
    color: #1d1d1d;
}

.portf h1 {
    font-size: 48px;
    font-weight: 700;
}

.portf p {
    font-size: 23px;
    margin: 5px 0 50px 0;
}

.portf-img {
    max-width: 1500px;
    width: 60%;
}


.works {
    margin-top: 100px;
    max-width: 100vw;
    height: auto;
    position: relative;
}

.work-content {
    height: 60vh;
    max-width: 100vw;
    /* margin-bottom: 10px; */
    display: flex;
    position: sticky;
    top: 0;
}

.work-content>a{
    width: 100%;
    height: 100%;
}

.work-element {
    height: 100%;
    flex: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-size 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: url(images/favicon.png) 16 16, auto;


    flex-shrink: 0;
    filter: brightness(0.95);
    /* opacity: 0.9; */
    transition: all 0.4s ease;
}

.work-element p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #EEEEEE;
    padding: 15px 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
    transition: 0.5s ease-in-out;
}

.arrow-work {
    width: 60px;
    height: 60px;
    margin: 20px;
    /* background-color: #00000048; */
    color: #EEEEEE;
    padding-bottom: 3px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease-in-out;
}

.work-element:hover {
    /* background-size: 101% 101%; */
    filter: brightness(1);
    opacity: 1;
    /* transform: scale(1.05); */
}

.work-element:hover p {
    background-color: rgba(31, 31, 31, 0.616);
}

.work-element:hover .arrow-work {
    opacity: 1;
    transform: rotate(-45deg);
}






.contact {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding: 10vh 0;
    color: rgb(49, 49, 49);
    /* margin-top: 100px; */
    background-color: #e6e6e6;
}

.contact a {
    color: rgb(95, 95, 95);
    font-size: 14px;
}


h3 {
    color: rgb(95, 95, 95);
    font-size: 14px;
    margin-bottom: 5px;
}

.contact p {
    color: rgb(112, 112, 112);
    font-size: 15px;
}

.contact img {
    width: 130px;
}

.contact>nav {
    display: flex;
    flex-direction: column;
}

.contact-links {
    display: flex;
    flex-direction: column;
}

.contact-links>a>img {
    margin-left: -5px;
}

.socials {
    margin: 10px 0;
}

.socials img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    cursor: pointer;
}

.socials img:hover {
    background-color: rgba(66, 66, 66, 0.089);
}

footer {
    font-size: 13px;
    color: rgb(20, 20, 20);
    text-align: center;
    padding: 5px;
    background-color: #e6e6e6;
}

@media(max-width:1000px) {
    .product-content>h1 {
        font-size: 30px;
    }

    .product-content>p {
        font-size: 15px;
    }
}






@media(max-width: 800px) {

    .portf h1 {
        font-size: 32px;
    }

    .portf p {
        font-size: 16px;
        margin: 15px;
    }

    .portf-img {
        width: 100%;
    }

    .works {
        margin-top: 10px;
    }

    .work-content {
        width: 100vw;
        /* gap: 5px; */
        /* margin-bottom: 5px; */
        flex-direction: column;
    }

    .work-element {
        background-size: cover;
    }

    .work-element:hover {
        background-size: cover;
    }


}




@media(max-width: 850px) {
    button {
        font-size: 15px;
        padding: 10px;
    }

    .main>h1 {
        padding: 0 3vw;
    }

    .services {
        flex-direction: column;
        margin: 70px auto auto auto;
        max-width: 350px;
        gap: 70px;
    }

    .products {
        grid-template: 1fr / 1fr;
        gap: 30px;
        margin: 10vh auto;
    }

    .product-content {
        max-width: 80vw !important;
        height: 60vh;
        max-height: 600px;
    }

    .partners {
        margin: 0;
    }

    .partners>h1 {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .partners-list {
        gap: 30px;
    }

    .partners-list img {
        width: 200px;
    }

    .contact {
        padding: 5vh 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }
}

@media(max-width:750px) {

 header {
        padding: 10px 40px;
        height: 70px;

        display: flex;
        justify-content: space-between;
    }

    .head-logo-alt{
    display: block;
    width: 20px;
}

    header>nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu.show {
        display: flex;
    }

   

}

@media (max-width:420px) {
    .main {
        height: 70svh;
        font-size: 19px;
        padding: 20px 0;
        margin-top: 70px;
    }

    .content{
        display: flex;
        justify-content: start;
        margin: 50% 0;
        
    }
    

    .content>h1{
        font-size: 38px;
        padding: 10px;
    }

    .videobg {
        width: 300px;
        margin-bottom: 0;
    }

    .main>h1 {
        max-width: 85vw;
    }

    .product-content {
        max-width: 80vw !important;
        height: 55vh;
        max-height: 600px;
    }
}





/* 
posteriormente criar pág produtos e serviços (como tabela de serviço estilo footer da apple com acordeon)
*/